.main{
  height: 100%;
  width: 100%;
}

.overview-area{
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("/ec-cash-1750490_1920.jpg");
  background-size: cover;
}

.overview-area h1{
  padding: 100px 0 55px 0;
  font-size: 70px;
  font-family: 'Zapfino', sans-serif;
  color: white;
}

.overview-area p{
  padding: 10px 0 0 0;
  font-size: 30px;
  color: white;
}

.about-service{
  height: auto;
  text-align: center;
  background-color: black;
  flex-direction: column;
}

.about-service h2{
  color: yellow;
  font-size: 48px;
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  padding:120px 0px 40px 0px;
}

.about-service h1{
  font-size: 32px;
  margin-bottom:120px;
  color: white;
}

.icon-area{
  display: flex;
  justify-content: space-around;
  padding-bottom: 80px;
}

.about-service p{
  padding: 30px 0 30px 0;
  color: white;
  font-size: 20px;
}

.icon-area p{
  font-size: 24px;
}

.icon-area img{
  height: 240px;
  width: 240px;
}

.invitation{
  height: 1000px;
  background-color: whitesmoke;
}

.invitation h1{
  text-align: center;
  padding: 100px 0 80px 0 ;
  color: black;
}

.btn{
  display: flex;
  justify-content: center;
}

.btn-guest-signin{
  width: 200px;
  height:45px;
  margin: 0 30px 20px 0;
  background-color: black;
}

.guest-signin a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
}

.guest-signin a:hover{
  text-decoration: none;
  color: yellow;
}

.btn-signup{
  width: 200px;
  height:45px;
  background-color: black;
}

.signup a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
}

.signup a:hover{
  text-decoration: none;
  color: lime;
}

.btn-signin{
  width: 200px;
  height:45px;
  margin: 0 10px 20px 30px;
  background-color: black;
}

.signin a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
}

.signin a:hover{
  text-decoration: none;
  color: yellow;
}

.oauth-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 0 0 0;
}

.google-signup-home{
  padding: 10px 0 0 0;
  width: 350px;
  height: 45px;
  border-radius: 5px 5px;
  background-color: black;
}

.google-signup-home a{
  text-decoration: none;
  color: whitesmoke;
}

.google-signup-home a:hover{
  text-decoration: none;
  color: orangered ;
}

.google-signup-home i{
  font-weight: bold;
}

.twitter-signup-home{
  padding: 10px 20px 0 20px;
  margin: 30px 30px 30px 30px;
  width: 350px;
  height: 45px;
  border-radius: 5px 5px;
  background-color: black;
}

.twitter-signup-home a{
  text-decoration: none;
  color: whitesmoke;
}

.twitter-signup-home a:hover{
  text-decoration: none;
  color: skyblue;
}

.twitter-signup-home i{
  font-weight: bold;
}

.facebook-signup-home{
  padding: 10px 0 0 0;
  width: 350px;
  height: 45px;
  border-radius: 5px 5px;
  background-color: black;
}

.facebook-signup-home a{
  text-decoration: none;
  color: whitesmoke;
}

.facebook-signup-home a:hover{
  text-decoration: none;
  color: #007bff;
}

.facebook-signup-home i{
  font-weight: bold;
}

/* タブレット */

@media (max-width: 1024px) {
  .invitation h1{
    padding: 100px 0 50px 0 ;
  }
  
  .icon-area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .oauth-btn{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .google-signup-home{
    width: 450px;
  }
  .twitter-signup-home{
    margin: 15px 0 15px 0;
    width: 450px;
  }
  .facebook-signup-home{
    width: 450px;
  }
}

/* スマートフォン */

@media (max-width: 500px) {
  .icon-area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .oauth-btn{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}