.notification-index{
  padding: 100px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.notification-index h1{
  font-size: 30px;
}

.user-notifications{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-notice-delete{
  width:200px;
  margin: 20px 0 10px 0;
  background-color: crimson;
  color: whitesmoke;
}

.btn-notice-delete:hover{
  background-color: firebrick;
  color: whitesmoke;
}