<div class="main">
  <div class="header-area">
    <%= link_to "Payways", root_path %>
    <ul class="header-menu">
      <li><a href="#">新規登録</a></li>
      <li><a href="#">ログイン</a></li>
      <li><%= link_to "新規投稿", new_post_path %></li>
      <li><a href="#">ログアウト</a></li>
    </ul>
  </div>