<% @posts.each do |post| %>
    <div class="post-container">
        <div class="post-left">
            <% if post.image.blank? %>
                <p>No Image</p>
            <% else %>
                <%= image_tag post.image.variant(resize:'250x250') %>
            <% end %>
        </div>
        <div class="post-right">
            <div class="post-right-top">
                <%= link_to post.shop_name, post_path(post.id) %>
            </div>
            <div class="post-right-middle">
                <%= post.explain %>
            </div>
            <div class="post-right-bottom">
                <% post.tags.each do |tag| %>
                    <%= tag.name %>
                <% end %>
            </div>
        </div>
    </div>
<% end %>