<div class="main">
  <div class="header-area">
    <h2>Payways</h2>
    <ul class="header-menu">
      <li><a href="#">新規登録</a></li>
      <li><a href="#">ログイン</a></li>
      <li><a href="#">投稿</a></li>
      <li><a href="#">ログアウト</a></li>
    </ul>
  </div>

  <div class="overview-area">
    <h1>Payways</h1>
    <p>あなたが行こうとしているお店の決済方法は？</p>
    <p>Paywaysがすぐにお調べします。</p>
  </div>

  <div class="search-form-area">
    <input class="shop-search" type="text", placeholder="例:スターバックスコーヒー 原宿店">
    <input class="search-btn" type="submit", value="検索">
  </div>

  <div class="latest-post-area">
    <h1>最近投稿された情報</h1>
  </div>

  <div class="footer-area">
    <p>Copyright © Teppei Torii 2020</p>
  </div>
</div>