<div class="header-area">
  <h2>Payways</h2>
  <ul class="header-menu">
    <li><a href="#">新規登録</a></li>
    <li><a href="#">ログイン</a></li>
    <li><a href="#">投稿</a></li>
    <li><a href="#">ログアウト</a></li>
  </ul>
</div>

<div class="overview-area">
  <h1>Payways</h1>
  <p>あなたが行こうとしているお店はキャッシュレス決済に対応していますか？</p>
  <p>Paywaysがすぐにお調べします。</p>
</div>

<div class="search-form-area">
  <input type="text", placeholder="例:スターバックス">
  <input type="submit", value="検索">
</div>

<div class="latest-post-area">

</div>