<%= render partial: "header" %>

  <div class="overview-area">
    <h1>Payways</h1>
    <p>あなたが行こうとしているお店の決済方法は？</p>
    <p>Paywaysがすぐにお調べします。</p>
  </div>

  <div class="search-form-area">
    <input class="shop-search" type="text", placeholder="例:スターバックスコーヒー 原宿店">
    <input class="search-btn" type="submit", value="検索">
  </div>

  <div class="latest-post-area">
    <h1>最近投稿された情報</h1>
    <% @posts.each do |post| %>
      <%= post.content %>
    <% end %>
  </div>

<%= render partial: "footer" %>