.form-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0 0 0;
}

.signup-error{
  color: red;
  font-weight: bold;
}

.form-main h1{
  font-size: 40px;
}

.name-field{
  padding: 20px 0 0 0;
}

.name-field input{
  width: 500px;
  height: 30px;
}

.email-field{
  padding: 20px 0 0 0;
}

.email-field input{
  width: 500px;
  height: 30px;
}

.fav-shop-field{
  padding: 20px 0 0 0;
}

.fav-shop-field input{
  width: 500px;
  height: 30px;
}

.living-area-field{
  padding: 20px 0 0 0;
}

.living-area-field select{
  width: 500px;
  height: 30px;
}

.password-field{
  padding: 20px 0 0 0;
}

.password-field input{
  width: 500px;
  height: 30px;
}

.password-confirm-field{
  padding: 20px 0 0 0;
}

.password-confirm-field input{
  width: 500px;
  height: 30px;
}

.signup-btn{
  padding: 35px 0 0 0;
  text-align: center;
}

.signup-btn input{
  width: 500px;
  height: 45px;
  font-size: 20px;
  border-style: none;
  border-radius: 5px 5px;
  background: #28a745;
  color: whitesmoke;
  cursor: pointer;
}

.signup-btn input:hover{
  background: #218838;
}

.google-signup{
  padding: 10px 0 0 0;
  display: flex;
  justify-content: center;
}

.google-signup > .btn-danger{
  width: 500px;
  height: 45px;
}

.google-signup i{
  padding: 5px;
  font-weight: bold;
}

.twitter-signup{
  padding: 10px 0 0 0;
  display: flex;
  justify-content: center;
}

.twitter-signup > .btn-info{
  width: 500px;
  height: 45px;
}

.twitter-signup i{
  padding: 5px;
  font-weight: bold;
}

.line-signup{
  padding: 10px 0 0 0;
  display: flex;
  justify-content: center;
}

.line-signup a{
  width: 500px;
  height: 45px;
  padding: 7px;
  background: lime;
  text-align: center;
}

.line-signup i{
  font-weight: bold;
  color: black;
}