.form-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0 0 0;
}

.signup-error{
  color: red;
  font-weight: bold;
}

.form-main h1{
  font-size: 40px;
}

.name-field{
  padding: 20px 0 0 0;
}

.name-field input{
  width: 500px;
  height: 30px;
}

.email-field{
  padding: 20px 0 0 0;
}

.email-field input{
  width: 500px;
  height: 30px;
}

.fav-shop-field{
  padding: 20px 0 0 0;
}

.fav-shop-field input{
  width: 500px;
  height: 30px;
}

.living-area-field{
  padding: 20px 0 0 0;
}

.living-area-field select{
  width: 500px;
  height: 30px;
}

.password-field{
  padding: 20px 0 0 0;
}

.password-field input{
  width: 500px;
  height: 30px;
}

.password-confirm-field{
  padding: 20px 0 0 0;
}

.password-confirm-field input{
  width: 500px;
  height: 30px;
}

.signup-btn{
  padding: 35px 0 0 0;
  text-align: center;
}

.signup-btn input{
  width: 500px;
  height: 45px;
  font-size: 23px;
  border-style: none;
  border-radius: 5px 5px;
  background-color: black;
  color: whitesmoke;
  cursor: pointer;
}

.signup-btn input:hover{
  color: lime;
}

.signup-btn-bridge{
  text-align: center;
  font-size: 20px;
  padding: 10px 0 10px 0;
}

.google-signup{
  display: flex;
  justify-content: center;
}

.google-signup > .btn-google{
  width: 500px;
  height: 45px;
  background-color: black;
  color: whitesmoke;
}

.google-signup > .btn-google:hover{
  color: orangered;
}

.google-signup i{
  padding: 6px;
  font-weight: bold;
  font-size: 20px;
}

.twitter-signup{
  padding: 10px 0 0 0;
  display: flex;
  justify-content: center;
}

.twitter-signup > .btn-twitter{
  width: 500px;
  height: 45px;
  background-color: black;
  color: whitesmoke;
}

.twitter-signup > .btn-twitter:hover{
  color:skyblue;
}

.twitter-signup i{
  padding: 6px;
  font-weight: bold;
  font-size: 20px;
}

.facebook-signup{
  padding: 10px 0 0 0;
  display: flex;
  justify-content: center;
}

.facebook-signup > .btn-facebook{
  width: 500px;
  height: 45px;
  background-color: black;
  color: whitesmoke;
}

.facebook-signup > .btn-facebook:hover{
  color: #007bff;
}

.facebook-signup i{
  padding: 6px;
  font-weight: bold;
  font-size: 20px;
}