.signin-error{
  color: red;
  font-weight: bold;
}

.remember-field{
  text-align: center;
  padding: 20px 0 0 0;
}

.remember-field > #user_remember_me{
  height: 20px;
  width: 20px;
}

.remember-field label{
  font-size: 20px;
}

.actions{
  text-align: center;
  padding: 35px 0 0 0;
}

.actions input{
  width: 500px;
  height: 45px;
  font-size: 23px;
  border-style: none;
  border-radius: 5px 5px;
  background-color: black;
  color: whitesmoke;
  cursor: pointer;
}

.actions input:hover{
  color: yellow;
}

.signin-btn-bridge{
  text-align: center;
  font-size: 20px;
  padding: 10px 0 10px 0;
}

.google-signin{
  padding: 10px 0 0 0;
  display: flex;
  justify-content: center;
}

.google-signin > .btn-google{
  width: 500px;
  height: 45px;
  background-color: black;
  color: whitesmoke;
}

.google-signin > .btn-google:hover{
  color: orangered;
}

.google-signin i{
  padding: 6px;
  font-weight: bold;
  font-size: 20px;
}

.twitter-signin{
  padding: 10px 0 0 0;
  display: flex;
  justify-content: center;
}

.twitter-signin > .btn-twitter{
  width: 500px;
  height: 45px;
  background-color: black;
  color: whitesmoke;
}

.twitter-signin > .btn-twitter:hover{
  color: skyblue;
}

.twitter-signin i{
  padding: 6px;
  font-weight: bold;
  font-size: 20px;
}

.facebook-signin{
  padding: 10px 0 0 0;
  display: flex;
  justify-content: center;
}

.facebook-signin > .btn-facebook{
  width: 500px;
  height: 45px;
  background-color: black;
  color: whitesmoke;
}

.facebook-signin > .btn-facebook:hover{
  color: #007bff;
}

.facebook-signin i{
  padding: 6px;
  font-weight: bold;
  font-size: 20px;
}