.signin-error{
  color: red;
  font-weight: bold;
}

.remember-field{
  text-align: center;
  padding: 20px 0 0 0;
}

.actions{
  text-align: center;
  padding: 35px 0 0 0;
}

.actions input{
  width: 500px;
  height: 45px;
  font-size: 20px;
  border-style: none;
  border-radius: 5px 5px;
  background: #FFC107;
  color: black;
  cursor: pointer;
}

.actions input:hover{
  background: #e0a800;
}