.edit-head{
  padding: 100px 0 0 0;
  font-size: 30px;
}

.user-edit-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 0 0;
}

.user-edit-error{
  color: red;
  font-weight: bold;
  padding: 0 0 10px 0;
}

.edit-profile-image{
  padding: 0 0 20px 0;
}

#user-image-list img{
  border-radius: 50%;
}

.edit-user-name{
  padding: 0 0 20px 0;
}

.edit-user-name input{
  height: 30px;
  width: 500px;
}

.edit-email{
  padding: 0 0 20px 0;
}

.edit-email input{
  height: 30px;
  width: 500px;
}

.fav-shop{
  padding: 0 0 20px 0;
}

.fav-shop input{
  height: 30px;
  width: 500px;
}

.living-area{
  padding: 0 0 20px 0;
}

.living-area select{
  height: 30px;
  width:500px;
}

.introduce textarea{
  width: 500px;
}
.user-edit{
  padding: 20px 0 0 0;
}

.user-edit-btn{
  width: 500px;
  height: 45px;
  font-size: 20px;
  border-radius: 5px 5px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.user-edit-btn:hover{
  background-color: black;
  color: white;
}

.user-destroy{
  padding: 10px 0 0 0;
}

.user-destroy-btn{
  width: 500px;
  height: 45px;
  font-size: 20px;
  border-radius: 5px 5px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.user-destroy-btn:hover{
  background-color: white;
  color:red;
  border: 1px solid red;
}