.user-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

.user-profile{
  width: 1000px;
  height: 400px;
  text-align: center;
}

.user-image{
  padding: 20px 0 0 0 ;
}

.user-image img{
  border-radius: 100px 100px;
}

.user-name h2{
  font-size: 25px;
}

.user-edit{
  padding: 30px 0 0 0 ;
  font-weight: bold;
}

.user-edit a{
  color: green;
  text-decoration: none;
  font-size: 20px;
}