.header-area{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.app-name a{
  padding: 0 15px 0 25px;
  font-size: 20px;
  font-family: 'Zapfino', sans-serif;
  text-decoration: none;
  color: whitesmoke;
}

.search-form-header{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 0 0 70px;
}

.header-search-input{
  width: 500px;
} 

#header-search-reset{
  position: absolute;
  right: 20px;
  top: 5px;
  cursor: pointer;
}

.header-area ul{
  display: flex;
  padding: 0 25px 0 0;
}

li a{
  font-size: 20px;
  padding: 0 15px 0 15px;
}

.header a,
.header a:visited,
.header a:focus,
.header a:hover{
  text-decoration: none;
  color: whitesmoke;
}

.during-login{
  padding: 2px 2px 0 0;
  color: lime;
}

.guest-login {
  font-size: 20px;
  padding: 0 15px 0 15px;
}

.guest-login, 
.guest-login:visited,
.guest-login:focus,
.guest-login:hover {
  text-decoration: none;
  color: whitesmoke;
}

/* ヘッダー検索フォーム:タブレット */
@media (max-width: 1024px) {
  .search-form-header{
    display: flex;
    margin: 0 0 0 0;
  }
  .search-form-header #keyword{
    width: 250px;
  } 
  
}

/* ヘッダー検索フォーム:スマートフォン */
@media (max-width: 500px) {
  .search-form-header{
    display: flex;
    margin: 0 0 0 0;
  }
  .search-form-header #keyword{
    width: 200px;
  } 
}

/* ヘッダー右側 li要素:タブレット */
@media (max-width: 1024px){
  li a{
    font-size: 15px;
    padding: 0 15px 0 15px;
  }
  .guest-login {
    font-size: 15px;
  }
}

/* ヘッダー右側 li要素:スマートフォン */
@media (max-width: 1024px){
  li a{
    font-size: 15px;
    padding: 0 15px 0 15px;
  }
  .guest-login {
    font-size: 15px;
  }
}

/* マウスオーバー時の吹き出し */
.balloon{
  display: none;
  width: auto;
  position: absolute;
  top: 50px;
  right: 100px;
  padding: 15px;
  border-radius: 5px;
  background: black;
  color: white;
}

#mypage:hover + .balloon{
  display: block;
}

#notifications:hover + .balloon{
  display: block;
}

#new_post:hover + .balloon{
  display: block;
}

#bookmark:hover + .balloon{
  display: block;
}

#logout:hover + .balloon{
  display: block;
}