.post-container{
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0px;
}

.post-left{
  width:300px;
  background-color: whitesmoke;
  box-shadow: 10px 10px 5px 2px gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-left img{
  width: 300px;
  height: 300px;
}

.post-right{
  border-left: 1px solid gainsboro;
  width: 550px;
  padding: 15px;
  background-color: whitesmoke;
  box-shadow: 10px 10px 5px 2px gray;
}

.post-right-top{
  border-bottom: 1px solid gainsboro;
  text-align: center;
  margin: 0 0 10px 0;
}

.post-right-top a{
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.post-tags{
  padding: 15px 0 15px 0 ;
}

.post-detail{
  padding: 90px 0 0 0;
}

.btn-post-detail{
  background-color: white;
  color: black;
  border: 1px solid black;
}

.btn-post-detail:hover{
  background-color: black;
  color: whitesmoke;
}