.post-container{
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0px;
}

.post-left{
  width: 400px;
  height: 400px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-left img{
  width: 400px;
  height: 400px;
}

.post-left a{
  text-decoration: none;
  color: black;
}

.post-right{
  border-left: 1px solid gainsboro;
  width: 550px;
  height: 400px;
  padding: 15px;
  background-color: whitesmoke;
}

.post-right-top{
  border-bottom: 1px solid gainsboro;
  text-align: center;
  margin: 0 0 10px 0;
}

.post-right-top a{
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.post-right-bottom a{
  text-decoration: none;
  color: black;
}

.post-tags{
  padding: 15px 0 15px 0 ;
}