.post-container{
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0px;
}

.post-left{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  width:270px;
  padding: 20px;
  background-color: whitesmoke;
  box-shadow: 10px 10px 5px 2px gray;
  display: flex;
  align-items: center;
  justify-content: center;
}


.post-right{
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 550px;
  padding: 20px;
  background-color: whitesmoke;
  box-shadow: 10px 10px 5px 2px gray;
}

.post-right-top a{
  color: blue;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.post-tags{
  padding: 20px 0 20px 0 ;
}

.tag-label{
  width: 60px;
  text-align: center;
  border: 2px solid white;
  border-radius: 20px 20px;
  background-color: royalblue;
  color: white;
}

.tag_list a{
  color: royalblue;
  font-weight: bold;
  text-decoration: none;
}

.post-right-middle{
  padding: 10px 0 0 0 ;
}

