.post-area{
  display: flex;
  justify-content: center;
  padding: 100px 0 0 0;
}

.post-left-content{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  width:270px;
  padding: 20px;
  background: linear-gradient(to bottom, lightgray,whitesmoke);
  box-shadow: 10px 10px 5px 2px gray;
}

.post-right-content{
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 550px;
  padding: 20px;
  background: linear-gradient(to bottom, lightgray,whitesmoke);
  box-shadow: 10px 10px 5px 2px gray;
}

.shop-name{
  font-size: 20px;
  font-weight: bold;
  color: blue;
  padding: 0 0 15px 0;
}

.post-right-bottom-content{
  text-align: right;
  padding: 30px 10px 0 0;
}

.post-right-bottom a{
  text-decoration: none;
  font-weight: bold;
}

.post-edit{
  color: green;
  padding: 0 15px 0 0;
}

.post-delete{
  color: red;
}